.name,
.address,
.maxOffered {
  display: flex;
  padding: 5px 0;
}
.name,
.address {
  color: #c4c4c4;
}
.name {
  font-size: 18px;
  font-weight: 800;
}
.address {
  font-size: 16px;
}
.maxOffered {
  font-size: 18px;
  color: #4a90e2;
}
