.toast {
  padding: 15px 25px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transform: translateY(80px);
  animation: slideUp 2.5s 0s 1 ease forwards;
  white-space: pre-wrap;
  background-color: #d12626;
}

.toastText {
  padding: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
}